# Database Credentials
DB_HOST=localhost
DB_USER=root
DB_PASS=

# Admin Account Setup
ADMIN_USERNAME=nutriadmin
ADMIN_SETUP_PASSWORD=nutrida

# Mail Account
SMTP_EMAIL=lourymarcu@gmail.com
SMTP_PASSWORD=zuifxkkefhflyqdi

NUTRITIONIX_APP_ID=14be65b6
NUTRITIONIX_APP_KEY=013362f3a3c7bcada7df574cb2fadf81