<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>

<IfModule mod_php.c>
    php_value auto_prepend_file "security.php"
</IfModule>